((* import "macros.tex.j2" as m with context -*))
((*- extends 'latex/index.tex.j2' -*))

((* block packages -*))
((( super() )))
\usepackage{graphicx}
\usepackage{float}
\captionsetup{format=plain,aboveskip=\baselineskip,belowskip=\baselineskip}
\newcommand{\g}{\includegraphics}
\usepackage{orcidlink}
\usepackage{authblk}
\usepackage[bitstream-charter]{mathdesign}
\usepackage[left]{lineno}
\usepackage{colortbl}
\input{header.tex}
((* endblock packages -*))

((* block docclass *))\documentclass[11pt]{journal}((* endblock docclass *))
((* block margins *))\geometry{margin=1cm}((* endblock margins *))
((* block maketitle *))((* endblock maketitle *))

((* block definitions *))
    ((( super() )))
        % Expose relative time if a datetime is provided in context
    ((* if generated_at is defined *))
        \newcommand{\GeneratedAgo}{((( generated_at | timesince )))}
    ((* endif *))
((* endblock definitions *))

((* block predoc *))
    \linenumbers
    ((( super() )))
((* endblock predoc *))

((* block codecell -*))
((* if cell.metadata.get('vscode', {}).get('languageId') == 'latex' -*))
    ((( cell.source )))
((* else -*))
    ((( super() )))
((* endif -*))
((* endblock codecell -*))

((* block markdowncell -*))
((* set s = (cell.source or "") | trim -*))

% --- HTML <figure> with <figcaption> ---
((* if "<figure" in s -*))
    ((( m.renderFigures(s) )))

% --- Caption + Markdown pipe-table in one cell ---
((* elif "<caption" in s and "|" in s -*))
    ((( m.renderCaptionPipeTable(s) )))

% --- Raw HTML <img> tag ---
((* elif "<img" in s -*))
    ((( m.renderBareImg(s) )))

% --- Markdown image ![alt](src) ---
((* elif s.startswith("![") and "](" in s and s.endswith(")") -*))
    ((( m.renderMarkdownImage(s) )))

% Handle HTML <span style="color:...">
((* elif '<span' in s and 'style' in s and 'color:' in s and '</span>' in s -*))
    ((( m.colorizeSpanToLatex(s) )))

% --- Default markdown rendering ---
((* else -*))
    ((( s | markdown2latex )))

((* endif -*))
((* endblock markdowncell -*))